registry=http://104.131.74.214/:8081/repository/npm-group/
init.author.name = Diego Berrios
init.author.email = dberrios@example.com
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=dberrios@example.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
