registry=http://72.14.184.206:8081/repository/npm-group/
_auth=bXl1c2VyOm15cGFzc3dvcmQ=
init.author.name = Diego Berrios
init.author.email = dberrios@example.com
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=dberrios@example.com
always-auth=true
_auth=bXl1c2VyOm15cGFzc3dvcmQ=


